/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .wp-media-buttons .button.usual-link-button {
 	padding-left: 5px;
    opacity: .5;
    transition: all .5 ease;
 }
 .wp-media-buttons .button.usual-link-button:hover {
    opacity: 1;
    transition: all .5 ease;
 }

 .usual-link-button span {
 	vertical-align: text-top;
 	font-size: 18px;
 	color: #888;
 }
 #new_usual_link_title {
    width: 140px;
 }
 #new_usual_link_content {
    width: 245px;
 }
 #add_usual_link {
     float: right;
 }

 li.usual-link {
 	padding: .5em;
 }
 li.usual-link:hover {
 	background-color: whitesmoke;
 }
 li.usual-link:before {
 	font: normal 18px/1 dashicons;
 	vertical-align: top;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	text-decoration: none !important;
 	padding-right: .5em;
 	content: '\f319';
 }
 li span.usual-link-title {
     font-weight: bold;
     width: 95px;
     display: inline-block;
 }
 li.usual-link a {
     padding-left: 2em;
 }
 div[id^='remove-usual-link'] {
 	float: right;
 	position: relative;
 	top: -1px;
 }
 div[id^='remove-usual-link']:before {
 	color: lightgray;
 	cursor: pointer;
 }
 div[id^='remove-usual-link']:hover:before {
 	color: #a00;
 }
 .usual-link-notice {
    margin-top: 10px !important;
    clear: both;
 }
 .usual-link-notice.error {
 	background-color: whitesmoke;
 }
 .usual-link-notice.updated {
 	background-color: whitesmoke;
 }
.usual-links-active #TB_window {
    width: 525px !important;
    max-width: 100%;
    height: auto !important;
    margin-left: 0 !important;
    top: 50% !important;
    transform: translate( -50%, -50% );
}
.usual-links-active #TB_ajaxContent {
	width: auto !important;
	height: auto !important;
	overflow: visible;
}

.usual-links-active #TB_ajaxContent .wrap {
	margin: 10px 0;
}

@media ( max-width: 782px ) {

    #usual-link-fields input[id^="new_usual_link"] {
        width: 100%;
    }
    #add_usual_link {
        float: none;
        width: 100%;
    }

}
